{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    <p> My name is Shail Patel, I am currently trying to get a degree in business information systems.My hobbies include gaming and understanding how they are made. I love playing around with the hardware, I have built my own PC and helped a few friends build their own pcs.</p>
    <p> Over here today I will be demonstrating pages to show how programming with Pycharm and docker works in real life with CI/CD.</p>

{% endblock %}
</article>
