{% extends "base.html" %}
<article>{% block content %}
    <h1>Calculator and how it uses the Ideas of Encapsulation, Inheritance and Abstraction</h1>
<h3>Encapsulation in a Calculator</h3>
    <img src="../../static/images/encapsulated_methods.png" width="100%" height="300" alt="image example of calculator encapsulation">
    <p style="font-size:22px">Encapsulation is the fundamental concept that involves wrapping data and methods that work on data within one unit</p>
    <p style="font-size:22px">Meaning making smaller working single units of code that do 1 thing and 1 thing specifically</p>
    <p style="font-size:22px">Imagine making lego blocks and then stacking them together, but each lego works as its own unit</p>
<h3>Inheritance in a Calculator</h3>
    <img src="../../static/images/Inheritance_calculator.png" width="100%" height="300" alt="image example of inheritance of calculator">
    <p style="font-size:22px">nheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.</p>
    <p style="font-size:22px">in this case the calculator inherits its own parent class with self. methods</p>
    <p style="font-size:22px"></p>
<h3>Abstraction in a Calculator</h3>
    <img src="" width="100%" height="300" alt="image example of Abstraction of calculator">
    <p style="font-size:22px">Abstraction is the idea, where the programmer hides all but the relevant data about an object in order to reduce complexity and increase efficiency</p>
    <p style="font-size:22px">In the case of the calculator each of the working pieces is set as an individual easy block, for example addition is in itself its own little method of recalling and appying it</p>
    <p style="font-size:22px">But in all the application works as a joint complex calculating program which can push out all calculations while using easier single block process. </p>


{% endblock %}
</article>
