{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5">

            <h1>Index Page</h1>
            <p>Website Glossary.</p>
            <p>The website is made to serve as a Glossary for terms and meanings on python programming from the basic understanding of how a Docker flask works to the comple integrations of continous development stages of a project.</p>
            <p> it contains information on advanced features like Object Oriented Programming, terminology like Encapsulation,Polymophism,Abstraction.</p>
            <p> and last but not least the working of the calculator program and how it demonstrates SOLID and identifies the use of design patterns. </p>
        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>
